body {
  background-color: #000;
  color: #fff;
}

.all {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "first playlist"
  "search playlist";
  gap: 15px;
}

.first-box {
  grid-area: first;
}

.playlist-box {
  grid-area: playlist;
  flex-shrink: 2;
}

.search-box {
  grid-area: search;
}

.box{
  background-color: #161616;
  padding: 20px;
  border-radius: 10px;
  height: 130px;
}

.box-2{
  background-color: #161616;
  padding: 20px;
  border-radius: 10px;
  height: 505px;
}

.box-3{
  background-color: #161616;
  padding: 20px;
  border-radius: 10px;
  padding: 40px;
}

.name {
  color: #6B39FC;
  font-size: 39px;
  margin-bottom: 20px;
}

.powered {
  font-size: 10px;
  color: #fff;
}

@media (max-width: 1200px) {

  .all {
    grid-template-columns: 400px 1fr;
  }

}

@media (max-width: 970px) {

  .all {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "first"
    "search"
    "playlist";
    gap: 15px;
  }

}